<section>
    <h2>OUR MENU</h2>
    <div class="menu_row">
        <img src="../../../assets/img/3_section_our_menu/Png/R1.png" alt="">
        <div>
            <h3>TONKOTSU RAMEN</h3>
            <div>
                <li>CHICKEN</li>
                <li>11.95€</li>
            </div>
            <div>
                <li>BEEF</li>
                <li>12.95€</li>
            </div>
            <div>
                <li>SHRIMP</li>
                <li>13.95€</li>
            </div>
        </div>
    </div>
    <div class="menu_row" id="row_rev">
        <img src="../../../assets/img/3_section_our_menu/Png/R2.png" alt="">
        <div>
            <h3>MISO RAMEN</h3>
            <div>
                <li>CHICKEN</li>
                <li>11.95€</li>
            </div>
            <div>
                <li>BEEF</li>
                <li>12.95€</li>
            </div>
            <div>
                <li>SHRIMP</li>
                <li>13.95€</li>
            </div>
        </div>
    </div>
    <div class="menu_row">
        <img src="../../../assets/img/3_section_our_menu/Png/R3.png" alt="">
        <div>
            <h3>SHIO RAMEN</h3>
            <div>
                <li>CHICKEN</li>
                <li>11.95€</li>
            </div>
            <div>
                <li>BEEF</li>
                <li>12.95€</li>
            </div>
            <div>
                <li>SHRIMP</li>
                <li>13.95€</li>
            </div>
        </div>
    </div>
</section>