<section>
    <h2>HOW TO ORDER</h2>
    <div class="how_to_order">
        <div>
            <img src="./../../../assets/img/2_section_how_to_order/PNG/noodle.png" alt="">
            <div>
                <p>PICK YOUR</p>
                <p>NOODLE</p>
            </div>
        </div>

        <div>
            <img src="./../../../assets/img/2_section_how_to_order/PNG/broth.png" alt="">
            <div>
                <p>PICK YOUR</p>
                <p>BROTH</p>
            </div>
        </div>

        <div>
            <img src="./../../../assets/img/2_section_how_to_order/PNG/egg.png" alt="">
            <div>
                <p>ADD YOUR</p>
                <p>TOPPINGS</p>
            </div>
        </div>

    </div>
</section>